#background {
    background-color: #F7F8FA;
}

.super-widget .fluig-style-guide .panel-body .form-input input.form-control.inputInfoChamado {
    height: 40px !important;
    background-color: #F7F8FA !important;
    border: none !important;
    padding: 8px 12px !important;
}

 #filtrosHeader:hover {
     background-color: #f8f9fa !important;
 }

 #setinha {
     display: inline-block;
     font-size: 12px;
     transition: transform 0.3s ease;
 }

 .panel-heading {
     user-select: none;
 }