.flexInput{
    display: flex;
}
.flexInput>select{
    width: fit-content !important;
    min-width: 80px !important;
}


.form-control{
    background-color: #F7F8FA !important;
}


.selectize-dropdown .active:not(.selected){
    background-color: lightgray !important;
    color: black !important;
}
.selectize-dropdown .selected{
    background-color: lightgray !important;
    color: black !important;
}
.selectize-control.single .selectize-input:not(.locked){
    box-shadow: rgba(0, 0, 0, 0.0) !important;
    background-color: #F7F8FA !important;
    background-image: none !important;
    height: var(--form-control-height);
}
.selectize-input.locked{
    background-color: #F7F8FA !important;
    box-shadow: rgba(0, 0, 0, 0.0) !important;
    background-image: none !important;
    height: var(--form-control-height);
}






.btnAnexo{
    display: flex !important;
    border-radius: 5px !important;
    align-items: center;
    width: fit-content;
    height: 25px !important;
    
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    overflow: hidden !important;

    margin-right: 10px;

    color: gray !important;
    border-color: gray !important;
}
.btnAnexo>button{
    border-radius: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    min-width: 20px !important;
}
.btnAnexo>button>i{
    border-bottom-width: 4px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    color: red;
}
.btnAnexo>b{
   margin-right: 10px;
}

label.required::after {
  content: " *";
  color: #c00;
}


/* ------------------------------------------------ */


/* Container geral */
.selectize-control.form-control {
  padding: 0;
  border: none;
  box-shadow: none;
}

/* Input do selectize */
.selectize-control .selectize-input {
  height: 34px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: none;
}

/* Focus igual Fluig */
.selectize-control .selectize-input.focus {
  border-color: #66afe9;
  outline: 0;
}

/* Dropdown */
.selectize-dropdown {
  border-radius: 4px;
}