.flexInput{
    display: flex;
}
.flexInput>select{
    width: fit-content !important;
    min-width: 80px !important;
}


.form-control{
    background-color: #F7F8FA !important;
}


.selectize-dropdown .active:not(.selected){
    background-color: lightgray !important;
    color: black !important;
}
.selectize-dropdown .selected{
    background-color: lightgray !important;
    color: black !important;
}
.selectize-control.single .selectize-input{
    box-shadow: rgba(0, 0, 0, 0.0) !important;
    background-color: #fff !important;
    background-image: none !important;
}






.btnAnexo{
    display: flex !important;
    border-radius: 5px !important;
    align-items: center;
    width: fit-content;
    height: 25px !important;
    
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    overflow: hidden !important;

    margin-right: 10px;

    color: gray !important;
    border-color: gray !important;
}
.btnAnexo>button{
    border-radius: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.btnAnexo>button>i{
    border-bottom-width: 4px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    color: red;
}
.btnAnexo>b{
   margin-right: 10px;
}