.pagina {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    backface-visibility: hidden;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transform-style: preserve-3d;
    transform-origin: left center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.pagina.ativa {
    opacity: 1;
    pointer-events: auto;
    position: relative;
    z-index: 2;
}
.pagina.escondida-para-direita {
    opacity: 0;
    pointer-events: none;
    transform: translate(200%, 0px);
    z-index: 1;
}
.pagina.escondida-para-esquerda {
    opacity: 0;
    pointer-events: none;
    transform: translate(-200%, 0px);
    z-index: 1;
}

.pagination {
    font-size: 12px;
    display: inline-block;
    margin: 10px 0px !important;
    border-radius: 10px;
    padding: 8px 14px !important;
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease;
    white-space: nowrap;
}
.pagination-active {
    font-size: 20px;
    font-weight: bold;
    background: #ffa751 !important;
    color: white;
}
